<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homework</title>
    <style>
     table {border: 2px solid black;
            padding: 50px 30px}
     p {margin: 50px 30px;
         border: 2px solid black}
     a {margin: 50px 30px;
         border: 2px solid black}
     th,td {border: 1px solid crimson}

    </style>
</head>
<body>
 <h2>Thế nào là thẻ (tag) ?</h2>
 <p>Tag dùng để mở đầu và kết thúc một lệnh trong html</p>
 <h2>Thế nào gọi là thuộc tính (Attribute) và thẻ con (Children)?</h2>
 <p>Attribute và children sử dụng để mở rộng chức năng cho thẻ tag</p>
 <h2>Tag a</h2>
 <a href="https://reddit.com">click here to visit reddit.com</a>
 <h2>Tag img</h2>
 <img src='../static/image/' alt="flower of life">
 <h2>Tag div, br: Bôi đen để hiện chữ</h2>
 <div style="color: transparent">
 <p>chữ nè chữ nè chữ nè chữ nè chữ nè chữ nè <br> chữ nè chữ nè chữ nè chữ nè chữ nè chữ nè chữ nè chữ nè chữ nè chữ nè
 chữ nè chữ nè chữ nè chữ nè <br> chữ nè chữ nè chữ nè chữ nè chữ nè <br> chữ nè chữ nè chữ nè chữ nè chữ nè chữ nè chữ nè </p>
 </div>
 <h2>Tag table</h2>

 <table>
     <tr>
         <th>chữ nè</th>
         <th>chữ nè</th>
         <th>chữ nè</th>
     </tr>
     <tr>
         <td>chữ nè</td>
         <td>chữ nè</td>
         <td>chữ nè</td>
     </tr>
     <tr>
         <td>chữ nè</td>
         <td>chữ nè</td>
         <td>chữ nè</td>
     </tr>
 </table>

 <h2>Tag ul, li</h2>
 <ul>
 <li>một</li>
 <li>hai</li>
 <li>ba</li>
 </ul>


</body>
</html>