<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>js</title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

</head>
<body>
<div class="w3-half" style="padding-left: 30px"><p>chieu cao xang ti met</p><input id="height"/><br></div>

<div class="w3-half"><p>can nang ki lo go ram</p><input id="weight"/><br></div>

<div style="padding-left: 30px;">
<button id="submit" onclick="tinhbmi()">tinh</button><br>
<p>be mo i</p><br><input id="bmi"/>
    </div>
<script type="text/javascript" src="../static/mein.js"></script>

</body>
</html>