<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/w3.css">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <title>intro</title>
</head>
<body>


  <div class="w3-container w3-card-4 w3-aqua">
      <h1 class="heading w3-center" >INTRO</h1>

  </div>

<div class="w3-card-2 w3-yellow w3-container ">

  <div class="w3-container w3-third w3-border-red">
    <h3 class="w3-border-bottom">Bottom border</h3>
    <h3 class="leftborder">Left border</h3>
  </div>

  <div class="w3-container w3-third w3-border-red">
    <h3 class="w3-border-bottom">Bottom border</h3>
    <h3 class="leftborder">Left border</h3>
  </div>

  <div class="w3-container  w3-third w3-border-red">
    <h3 class="w3-border-bottom">Bottom border</h3>
    <h3 class="leftborder">Left border</h3>
  </div>
</div>


</body>
</html>