<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nostarch</title>
    <link rel="stylesheet" type="text/css" href="../static/nostarch.css">
</head>
<body>
 <div class="contact">
         <h2>Contact Us</h2>

     <div class="ljust30">

        <p>No Starch Press, Inc.<br>
        245 8th Street<br>
        San Francisco, CA 94103 USA <br>
        Phone: 800.420.7240 or +1 415.863.9900 (9 a.m. to 5 p.m., M-F, PST) <br>
        Fax: +1 415.863.9950</p>

        <h3>Reach Us by Email</h3>
         <ul>
            <li>General inquiries: <i>info@nostarch.com</i></li>
            <li>Media requests: <i>media@nostarch.com</i></li>
             <li>Academic requests: <i>academic@nostarch.com</i> (Please see this page for academic review requests)</li>
            <li>Help with your order: <i>info@nostarch.com</i></li>
         </ul>

         <h3>Reach Us on Social Media</h3>
        <ul>
             <li><i>Twitter</i></li>
             <li><a href="https://facebook.com/abcbcacab">Facebook</a></li>
        </ul>
     </div>
 </div>

</body>
</html>